@require 'global-colors'

/**
 * Typo
 */

$fontFamily = {
  system: "-apple-system"\, "system-ui"\, "Segoe UI"\, Helvetica\, Arial\, sans-serif\, "Apple Color Emoji"\, "Segoe UI Emoji"\, "Segoe UI Symbol",
  systemMonospace: SFMono-Regular\, Consolas\, "Liberation Mono"\, Menlo\, Courier\, monospace,
}

$fontFamily.sans = $fontFamily.system
$fontFamily.monospace = $fontFamily.systemMonospace

// font-size for <html>, base value for rem
$rootFontSize = 16px

// common used relative font-size values in em
$fontSize = {
  small:   .75em, // 12/16
  medium:  1em,
  large:   1.25em // 20/16
}

// line-height values relative to $fontSizes
$lineHeight = {
  small:   1.25,        // 20/16
  medium:  1.428571429, // 20/14
  large:   1.618033988  // phi
}


/**
 * Constants
 */

$pi = 3.14159265
$phi = 1.61803398
$sqrt2 = 1.41421356


/**
 * Z-Index
 */

$zIndex = {
  siteHeader: 1000
}