mixin svgSymbol(name, size = 100)
  symbol(
    id = `svg-symbol__${name}`,
    viewBox = `0 0 ${size} ${size}`
  )
    block

.svg-icon

  svg(
    viewBox = "0 0 128 128",
    xmlns="http://www.w3.org/2000/svg"
  )

    use(v-bind:xlink:href = "symbolLink")

    +svgSymbol("unicorn", 128)
      include ./icons/unicorn.pug

    +svgSymbol("calvin", 100)
      include ./icons/calvin.pug

    +svgSymbol("spinner", 70)
      include ./icons/spinner.pug
